body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-card{
  text-align: center;
  border: 1px solid grey;
  width: 70%;
  margin-left: 15%;
  border-radius: 12px;
  background-color: rgba(213, 229, 248, 0.671);
  
}

td.sa{
  padding-right: 10px;
}
.details{

  margin-left: 24%;
  display: flex;
  
}
.header{
  text-align: center;
  padding: 2%;
}
.city-input{
  margin-right: 5%;
}

.city-label, .country-label{
  margin-right: 1%;
}
.form{
  padding-top: 2%;
  padding-bottom: 2%;
}
.search{
  margin-right: 5%;
}
.column-1{
  padding-right: 15%;
}

td{
  border-bottom: 2px dashed grey;
  padding-right: 10%;
}